* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #010b10;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;

  filter: url(#gooey);
}

svg {
  width: 0;
  height: 0;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  animation: animate 3s ease-in-out infinite;
  animation-delay: calc(0.15s * var(--i));
}

.loader span::before {
  content: "";
  position: absolute;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background: linear-gradient(#ffcccc, #03a9f4);
  border-radius: 50%;

  box-sizing: 0 0 30px #03a9f4;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50%,
  100% {
    transform: rotate(360deg);
  }
}
